    h1 {
    font-family: 'Lucida Calligraphy';
    color: rgb(7, 27, 245);
    font-size: xx-large;
}
html {
    background-image: radial-gradient(rgb(0, 0, 255, 0.693), rgba(0, 128, 0, 0.723), rgba(255, 127, 80, 0.821),rgba(255, 255, 0, 0.797), rgba(255, 0, 0, 0.733), pink);
    font-weight: bold;
    text-align: center;
}
h2 {
    font-style: italic;
}
.subtitle {
    color: purple;
    font-style: italic;
    font-size: medium;
}
.itinerary > h4, .instruction {
    font-weight: bold;
    font-style: italic;
}
.itinerary, .about {
    border-bottom: 2px groove black;
}
music {
    border-bottom: 2px dashed black;
}